.container {
    background: black;
    color: white;
}


.btn {
    border: 2px solid black;
    color: white;
    background: grey;
}
.btn:hover {
    background: rgb(209, 207, 207);
    cursor: pointer;
}