.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background: rgb(56, 57, 93);
    
}

.barBtnActive {
    width: 5rem;
    height: 1.8rem;
    background: rgb(118, 113, 140);
    font-size: 12px;
    margin-left: 80%;
    margin-right: 2rem;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.barBtn {
    width: 5rem;
    height: 1.8rem;
    background: rgb(48, 40, 81);
    font-size: 12px;
    margin-left: 80%;
    margin-right: 2rem;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.circle {
    background: rgb(155, 235, 155);
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 0.4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.circleOff {
    background: rgb(246, 81, 86);
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 0.4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerActive {
    width: 100%;
    background: rgb(34, 34, 45);
    height: 4rem;
    padding: 0.5rem;
    transition: height 0.5s ease-in-out;
    transition: padding 0.2s ease-in-out;
 
}

.container {
    width: 100%;
    height: 0;
    background: rgb(34, 34, 45);
    transition: height 0.5s ease-out;
    transition: padding 0.2s ease-out;
  
 
}
.inputSectionActive {
    display: flex;
    flex-direction: row;
    margin: 1% 1% 1% 20%;
    transition: display 0.3s ease-in;
}
.inputSectionDis {
    display: none;
    flex-direction: row;
    margin: 1% 1% 1% 20%;
}
.input {
    width: 25rem;
    border-radius: 6px;
    border: 2px solid grey;
    height: 2rem;
    margin-right: 5%;
    color: black;
}
.prevBtn {
    color: white;
    background: rgb(119, 117, 160);
    height: 2rem;
    width: 10rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 2px solid rgb(150, 150, 199)
}
.prevBtn:hover {
    background: white;
    color: black;
    
}
.iframeStart {
    height: 0;
    width: 80%;
 
}
.iframe {
    height: 40rem;
    width: 80%;
    border-radius: 2px;
    border: 2px solid white;
    background: white;
    padding: 1rem;
    margin-left: 10%;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: height 0.3s ease-in-out;
}