.container {

}
.codeeditor {
    display: flex;
    flex-direction: column;
}
.panels {
    display: flex;
    flex-direction: row;
}

.edit {
    height: 30rem;
    width: 45%;
}
.prev {
    height: 30rem;
    width: 45%;
}